@import url('https://fonts.googleapis.com/css2?family=Tajawal:wght@400;500;600;700&display=swap');
@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: 'Tajawal', sans-serif;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

html,
body {
  font-family: 'Tajawal', sans-serif;
  background: #eceff3;
  color: var(--foreground);
}

/* --- FORM STYLING --- */
.form-box {
  background: #fff;
  border: 1px #d9d9d9;
  padding: 1.5rem;
  padding: 44px 44px 50px 44px;
  border-radius: 6px;
   max-width: 850px;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05);
}

.form-title {
  font-weight: 600;
  font-size: 20px;
  text-align: center;
  margin-bottom: 1.5rem;
  color: #333;
}

.form-field {
  position: relative;
  background-color: #f2f2f2;
  border: 1px solid #c8c8c8;
  border-radius: 4px;
  padding: 14px 12px 10px;
}

.form-label {
  position: absolute;
  top: -9px;
  right: 12px;
  background: #fff;
  padding: 0 6px;
  font-size: 13px;
  color: #333;
  font-weight: 600;
  line-height: 1;
}

.form-input {
  border: none;
  background: transparent;
  width: 100%;
  font-size: 15px;
  color: #000;
  outline: none;
  direction: rtl;
}

.form-input:focus {
  background-color: #fff;
}

/* --- SUBMITTED PAGE --- */
.form-value {
  font-size: 15px;
  color: #000;
  font-weight: 500;
}

.submitted-field {
  border: 1px solid #d1d1d1;
  background: #f9f9f9;
  border-radius: 6px;
  padding: 10px 14px;
}

.submitted-label {
  font-weight: 600;
  font-size: 13px;
  color: #333;
}

.submitted-value {
  font-size: 14px;
  color: #111;
  margin-top: 2px;
}
